<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">My Expenses</div>

          <div class="panel-body">
            <div class="input-group">
              name :
              <input type="text" v-model="expense.name" class="form-control" />
              <br />money :
              <input type="text" v-model="expense.total_money" class="form-control" />
              <br />detail :
              <input type="text" v-model="expense.detail" class="form-control" />
              <br />
            </div>
            <br />
            <span class="input-group">
              <button class="btn btn-success" @click="create">Add Expenses</button>
            </span><br />

            <div class="wallet-list">
              <ul class="list-group">
                รายจ่าย
                <li class="list-group-item" v-for="expense in expenses" v-bind:key="expense.id">
                  <div class="checkbox">
                    <label>{{expense.total_money}} บาท</label>

                    <label>( {{expense.detail}} )</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel-body">
            <h1>สรุปยอดคงเหลือ</h1>
            <div class="wallet-list">
              <ul class="list-group">
                รายรับ : {{total_income}}
                <br />
                รายจ่าย : {{total_expense}}
                <br />
                เงินคงเหลือที่หมด : {{total_income - total_expense}}
                <!-- <li class="list-group-item" v-for="expense in expenses" v-bind:key="expense.id">
                  <div class="checkbox">
                    <label>{{expense.total_money}} บาท</label>

                    <label>( {{expense.detail}} )</label>
                  </div>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetchData();
    this.fetchDataCount();
    this.fetchDataCountExpense();
  },
  data() {
    return {
      expenses: [],
      expense: {
        name: "USER",
        total_money: 0,
        detail: ""
      },
      total_income: 0,
      total_expense: 0
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/expense")
        .then(res => {
          this.expenses = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    fetchDataCount() {
      axios
        .get("/api/income/count")
        .then(res => {
          console.log(res);
          let total_income = 0;
          res.data.forEach(e => {
            total_income += e.total_money;
            console.log(e, total_income);
          });
          this.total_income = total_income;
        })
        .catch(err => {
          console.log(err);
        });
    },
    fetchDataCountExpense() {
      axios
        .get("/api/expense/count")
        .then(res => {
          console.log(res);
          let total_expense = 0;
          res.data.forEach(e => {
            total_expense += e.total_money;
            console.log(e, total_expense);
          });
          this.total_expense = total_expense;
        })
        .catch(err => {
          console.log(err);
        });
    },
    create() {
      axios
        .post("/api/expense", this.expense)
        .then(res => {
          this.expenses.unshift(res.data);
          this.expenses.name = "";
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
