<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">My Income</div>

          <div class="panel-body">
            <div class="input-group">
              name :
              <input type="text" v-model="income.name" class="form-control" />
              <br />money :
              <input type="text" v-model="income.total_money" class="form-control" />
              <br />detail :
              <input type="text" v-model="income.detail" class="form-control" />
              <br />
            </div>
            <br />
            <span class="input-group-btn">
              <button class="btn btn-success" @click="create">Add Income</button>
            </span>
            <br />

            <div class="wallet-list">
              <!-- <ul class="list-unstyled"> -->
              <ul class="list-group">
                รายรับ
                <li class="list-group-item" v-for="income in incomes" v-bind:key="income.id">
                  <div class="checkbox">
                    <label>{{income.total_money}} บาท</label>

                    <label>( {{income.detail}} )</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      incomes: [],
      income: {
        name: "USER",
        total_money: 0,
        detail: ""
      }
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/income")
        .then(res => {
          this.incomes = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    create() {
      axios
        .post("/api/income", this.income)
        .then(res => {
          this.incomes.unshift(res.data);
          this.incomes.name = "";
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
